.container {
    border: 2px solid #ccc;
    background-color: rgba(238, 238, 238, 0.78);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: x-large;
    margin-right: 15px;

}

form{
  width: 500px;
}
label{
  display: block;
  margin: 5px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}

body{
  background-color: #ec8282;
  font-family: Calibri, serif;
}
p{
  margin: 10px;
  font-size: x-large;
  font-family: Calibri;
}
main{
  max-width: 1300px;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 50px;
}
h2{
  display: inline-block;
  font-weight: lighter;
  /*font-size: 1.5em;*/
  font-size: xx-large;
  font-family: "Century Gothic";
}
h3{
  text-align: center;
  display: inline-block;
  font-weight: lighter;
  /*font-size: 1.5em;*/
  font-size: x-large;
  font-family: "Century Gothic";
}
header li{
  display: inline-block;
  margin-left: 50px;
  font-weight: bolder;
  font-size: x-large;
}
section h2{
  text-align: center;
  display: block;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.s1 img{
  width: 40%;
  border: 10px solid #dc934a;
}
.s3 img{
  width: 100%;
  overflow: hidden;
  border: 5px solid white;
}
.s2 img{
  width: 100%;
  overflow: hidden;
  margin: 5px;
}
.row img{
  max-height: 400px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  border-bottom: 1px solid;
}
span{
  font-size: larger;
}
input{
  font-size: larger;
}
legend{
  font-size: larger;
}


@media (max-width: 850px) {
  .s1 .row{
    flex-direction: column;
  }
  .s1 img{
    width: 80%;
    margin: auto;
  }
  .s3 .row{
    flex-wrap: wrap;
  }
  .s3 img{
    width: 25%;
  }
  #p1{
    width: 50%;
    text-align: center;
    margin-left: 150px;
    margin-right: 50px;
  }
  .s3 img{
    margin: 10px;
    border: 5px solid white;
  }
}

@media (max-width: 500px) {
  #p1{
    text-align: center;

    width: 50%;
  }
  h2{
    font-size: 1.5em;
  }
  .s2 img{
    width: 90%;
  }
  .s2 .row{
    flex-direction: column;
  }
  .s3 .row{
    flex-direction: row;
  }
  .s3 img{
    margin: 10px;
    border: 5px solid white;
  }
}
